/* .login-container {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
} */

.login-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
 
}

.login-form h2 {
  color: #4facfe;
}

.login-form .form-label {
  color: #333;
  font-weight: 500;
}

.login-form .btn-primary {
  background-color: #4facfe;
  border-color: #4facfe;
}

.login-form .btn-primary:hover {
  background-color: #2e9afe;
  border-color: #2e9afe;
}